<div class="post-row">
  <h2 class="post-title"><%= @post.title %></h2>
  <div class="smaller">
    Written by <%= current_user && current_user.id == @post.user_id ? "You" : @post.user.email %>, <%= time_ago_in_words @post.created_at %> ago
  </div>
  <p><%= @post.content %></p>
</div>

<div>
  <%=
    link_to 'Back', posts_path, class: 'btn-green thinner-padding'
  %><%=
    link_to('Edit', edit_post_path(@post), class: 'btn-yellow thinner-padding') if can?(:edit, @post)
  %>
</div>